*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}


header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background: rgb(35, 35, 35);
    color:white;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

nav a:hover{
    color: teal;
}


.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,teal,blue);
    color:white;
    text-align:center;
}

.hero h2{
    font-size:40px;
    margin-bottom:10px;
}

.hero p{
    margin-bottom:20px;
}

.hero button{
    padding:10px 20px;
    border:none;
    background:white;
    cursor:pointer;
    font-size:16px;
    border-radius:5px;
}

.hero button:hover{
    background:#eee;
}


footer{
    text-align:center;
    padding:20px;
    background: #222;
    color:white;
}