* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background: #222;
    color: white;
}

nav a {
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #00bcd4;
}


section {
    display: none;
    padding: 40px 10%;
    min-height: 80vh;
}

section.active {
    display: block;
}


.hero {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 40px;
    background: #f5f5f5;
    text-align: center;
    border-radius: 10px;
}



footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}


@media (max-width: 768px) {

    header {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }

    .cards {
        flex-direction: column;
    }
}

/* TELEFON */
@media (max-width: 480px) {

    header {
        padding: 10px;
    }

    section {
        padding: 20px;
    }

    .hero h2 {
        font-size: 24px;
    }
}