*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}


header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background: rgb(35, 35, 35);
    color:white;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

nav a:hover{
    color: teal;
}


.glowna{
    height:85vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,teal,blue);
    color:white;
    text-align:center;
}

.glowna h2{
    font-size:40px;
    margin-bottom:10px;
}

.glowna p{
    margin-bottom:20px;
}

.glowna img{
  border-radius: 40px;
  padding: 5px;
  width: 30%;
}


.footer{
    text-align:center;
    padding:20px;
    background: rgb(35, 35, 35);
    color:white;
}